//====================================================================================================
.footer {
   background-color: $mainDarkColor;
   &__text {
   }

   &__container {
   }

   &__body {
   }
}

.text-footer {
   @include adaptiveValue('padding-top', 60, 40);
   @include adaptiveValue('padding-bottom', 60, 40);
   background: url('@img/footer/bg.jpg') top / cover no-repeat;

   &__container {
   }

   &__title {
      text-align: center;
      font-weight: 700;
      @include adaptiveValue('font-size', 30, 24);
      line-height: math.div(46, 30);
      color: $mainOrangeColor;
      &:not(:last-child) {
         margin-bottom: em(30, 30);
      }
   }

   &__text {
      color: #fff;
      @include adaptiveValue('font-size', 18, 16);
      line-height: math.div(27, 18);
   }
}

.body-footer {
   @include adaptiveValue('padding-top', 100, 40);
   @include adaptiveValue('padding-bottom', 50, 40);
   display: grid;
   @include adaptiveValue('gap', 35, 15);
   &__row {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr));
      column-gap: rem(40);
      @include adaptiveValue('row-gap', 40, 20);
      &:not(:last-child) {
         padding: 0 0 rem(30) 0;
         border: 1px solid rgba(255, 255, 255, 0.5);
      }
   }

   &__item {
   }
}

.item-footer {
   &__spoller {
   }
}

.spoller-item-footer {
   &__item {
   }

   &__title {
      text-transform: uppercase;
      color: #fff;
      font-weight: 700;
      line-height: math.div(22, 18);
      ._spoller-init & {
         display: flex;
         width: 100%;
         justify-content: space-between;
         gap: rem(10);
         &::after {
            content: '\e903';
            font-size: rem(8);
            margin: em(10, 8) 0 0 0;
            @extend %ic;
            transition: all 0.3s ease 0s;
         }
         &._spoller-active {
            &::after {
               transform: rotate(-180deg);
            }
         }
      }
   }

   &__body {
      @include adaptiveValue('padding-top', 30, 20);
      @include adaptiveValue('padding-bottom', 30, 20);
   }
}

.menu-footer {
   &__list {
   }

   &__item {
      &:not(:last-child) {
         margin-bottom: em(20, 17);
      }
   }

   &__link {
      line-height: math.div(27, 18);
      color: rgba(255, 255, 255, 0.8);
   }
}

//====================================================================================================
